.hot{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
    margin-bottom: 100px;
    
    
}
.hot h1{
    color:#1B4E45;
    font-size: 30px; 
    font-weight: 600;
}
.hot hr{
    width:200px;
    height:0px;
    border-radius: 10px;
}
.hot-category{
    margin-top: 20px;
    display:grid;
    gap:1rem; 
    margin-inline:auto;
    grid-template-columns:repeat(4,1fr); 
    width: 100%;
    max-width: 1200px;  
}
.clickable-image {
  cursor: pointer;
}
 @media(max-width:1010px){
.hot-category{
    
    gap:0.7rem; 
    
}

}
 
 @media(max-width:950px){
 .hot-category {
    grid-template-columns: repeat(3, 1fr);
    
  }

.hot h1 {
 font-size: 25px; 
 font-weight: 550;
}

}


@media (max-width: 850px) {
.hot h1 {
 font-size: 20px; 
 font-weight: 500;
 

}
}
@media (max-width: 520px) {
.hot-category {
    grid-template-columns: repeat(2, 1fr);
    
  }

}
